<section class="example-container">
  <h1>Login</h1>

  <form>
    <mat-form-field class="w-full">
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="w-full">Login</button>
  </form>
  <button mat-button color="primary"
    routerLink="/account/sign-up">Sign up</button>

</section>

