<div class="page">
  <section class="card">
    <div class="card-header">
      NgChat
    </div>
    <div class="card-body">

      <ng-container *ngFor="let comment of comments">
        <div class="media">

          <div class="media-left media-icon" *ngIf="!isCurrentUser(comment.user.uid)">
            <a href="#" class="icon-rounded">{{ comment.initial }}</a>
          </div>

          <div class="media-body">
            <h4 class="media-heading">
              {{ comment.user.name }} Date: {{ comment.date | chatDate }}</h4>
            <div>{{ comment.content }}</div>
          </div>

          <div class="media-right media-icon" *ngIf="isCurrentUser(comment.user.uid)">
            <a href="#" class="icon-rounded">{{ comment.initial }}</a>
          </div>

        </div>
        <hr>
      </ng-container>

    </div>
  </section>

  <section>
    <form class="chart-form" (ngSubmit)="addComment(content)">
      <mat-form-field class="form-full-width">
        <textarea matInput
          placeholder="Leave a comment"
          name="comment"
          [(ngModel)]="content"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Send</button>
    </form>

  </section>
</div>
